---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Proj from "@components/Proj";
import LinkButton from "@components/LinkButton.astro";
import slugify from "@utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  projs: CollectionEntry<"projs">[];
}

const { projs } = Astro.props;

---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects" pageDesc="">
    <ul>
      {
        projs.map(({ data }) => (
          <Proj frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Footer noMarginTop={false} />
</Layout>

<style>
  .pagination-wrapper {
    @apply mt-auto mb-8 flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
